:root {
  --text-xxl: 23px;
  --text-xxl-line: 27px;
  --text-xl: 18px;
  --text-xl-line: 22px;
  --text-l: 16px;
  --text-l-line: 19px;
  --text-ml: 15px;
  --text-ml-line: 18px;
  --text-m: 15px;
  --text-m-line: 18px;
  --text-s: 13px;
  --text-s-line: 16px;
  --text-xs: 12px;
  --text-xs-line: 15px;
}